.nav-btn{
  width: auto;
  display: flex;
  //padding-top: 10px;
  //padding-bottom: 10px;
  padding-left: 24px ;
  padding-right: 24px ;
  justify-content: flex-start;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.nav-btn-multilevel{
  width: 100%;}
.nav-btn-icon{
  //margin-right: 8px;
}
.mat-expansion-panel{
  width: 100%;
}
