<div class="form-main-bg">
  <div class="form-body ">
    <div  class="form-header">
      <div class="form-header-content">
        <div class="form-header-title" >
          <span >Manage Stocks</span>
        </div>
        <form class="flex" [formGroup]="filterDetailsForm" (ngSubmit)="refreshTable()">
          <!--          <div class="form-header-search form-header-label">-->
          <!--            <label for="search-filed">-->
          <!--              <mat-icon>search</mat-icon>-->
          <!--            </label>-->
          <!--            <input type="text" id="search-filed"  placeholder="Search" formControlName="searchKeyWord"-->
          <!--                   (keydown)="search.next($event)">-->
          <!--          </div>-->
<!--          <div class="form-header-filters form-header-label">-->
<!--            <span>Filter by:&nbsp;</span>-->
<!--            <mat-select formControlName="filter" (ngModelChange)="refreshTable()" #filterSelect>-->
<!--              <mat-option *ngFor="let filter of filters" [value]="filter.key">-->
<!--                {{filter.value}}-->
<!--              </mat-option>-->
<!--            </mat-select>-->
<!--          </div>-->
<!--          <div class="form-header-filters form-header-label" >-->
<!--            <mat-select formControlName="stateFilter" (ngModelChange)="refreshTable()" >-->
<!--              <mat-option value="ACTIVATED">-->
<!--                Active-->
<!--              </mat-option>-->
<!--              <mat-option value="INACTIVATED">-->
<!--                InActive-->
<!--              </mat-option>-->
<!--            </mat-select>-->
<!--          </div>-->
        </form>
      </div>
    </div>
    <div>

      <table class="form-table" mat-table [dataSource]="dataSource" matSort>
        <!-- Action Column -->
        <ng-container matColumnDef="action" >
          <th mat-header-cell class="form-table-header" *matHeaderCellDef > Action</th>
          <td mat-cell class="form-table-column" *matCellDef="let row">
            <div id="buttons">
              <button mat-mini-fab style="background: #2ecc71" class="me-2" (click)="updateCustomer(row)">
                <mat-icon>add</mat-icon>
              </button>
              <button mat-mini-fab style="background: #e74c3c" class="me-2" (click)="deleteCustomer(row)">
                <mat-icon>disabled_by_default</mat-icon>
              </button>
              <!--              <button mat-mini-fab style="background: rgba(74,215,61,0.91) " (click)="newBatch(row)" >-->
              <!--                <mat-icon>sell</mat-icon>-->
              <!--              </button>-->

            </div>
          </td>

        </ng-container>
        <ng-container matColumnDef="mfs_id">
          <th mat-header-cell class="form-table-header" *matHeaderCellDef >MFS ID</th>
          <td mat-cell class="form-table-column" *matCellDef="let row" > {{(row.mfs_id)}} </td>
          <td mat-cell *matCellDef="let row" class="form-table-column"
              appHighlight

              [text]="row?.mfs_id"
              classToApply="txt-highlight"></td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell class="form-table-header" *matHeaderCellDef >status</th>
          <td mat-cell *matCellDef="let row" class="form-table-column"
              appHighlight

              [text]="row?.status"
              classToApply="txt-highlight"></td>
        </ng-container>


        <ng-container matColumnDef="available_limit">
          <th mat-header-cell class="form-table-header" *matHeaderCellDef >available_limit</th>
          <td mat-cell *matCellDef="let row" class="form-table-column"
              appHighlight

              [text]="row?.available_limit"
              classToApply="txt-highlight"></td>
        </ng-container>

        <ng-container matColumnDef="requested_limit">
          <th mat-header-cell class="form-table-header" *matHeaderCellDef >requested_limit</th>
          <!--          <td mat-cell class="form-table-column" *matCellDef="let row"> {{row.brandDTO.brandName?row.brandDTO.brandName:''}} </td>-->
          <td mat-cell *matCellDef="let row" class="form-table-column"
              appHighlight

              [text]="row?.requested_limit"
              classToApply="txt-highlight"></td>
        </ng-container>

        <ng-container matColumnDef="main_stock">
          <th mat-header-cell class="form-table-header" *matHeaderCellDef >main_stock</th>
          <!--          <td mat-cell class="form-table-column" *matCellDef="let row"> {{row.categoryDTO.categoryName}} </td>-->
          <td mat-cell *matCellDef="let row" class="form-table-column"
              appHighlight

              [text]="row?.main_stock"
              classToApply="txt-highlight"></td>

        </ng-container>

        <tr id="table" mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            [ngStyle]="{'background-color': row.status==='INACTIVATED' ? '#ffc4c4' : '' }"></tr>

        <!-- Row shown when there is no matching data. -->
        <!--        <tr class="mat-row" *matNoDataRow>-->
        <!--          <td mat-cell class="form-table-column" colspan="4">No data matching""</td>-->
        <!--        </tr>-->
      </table>
    </div>
    <mat-toolbar class="mat-toolbar-table bg-skin-ternary text-skin-primary rounded-full">
      <mat-toolbar-row class="bg-skin-ternary text-skin-primary rounded">
        <label >page :</label>
        <input [value]="paginator.pageIndex+1" #page (keyup.enter)="pageNavigate(page.value)"
               class="bg-skin-ternary text-skin-primary">
        <label >/{{pageCount}}</label>
        <span id="spacer"></span>
        <mat-paginator class="bg-skin-ternary text-skin-primary"  #paginator [pageSizeOptions]="pageSizeOptions"  (page)="tempPageEvent=getServerData($event)"
                       showFirstLastButtons ></mat-paginator>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</div>
