<div class="text-center align-items-center justify-content-center">
<!--  <hr style="border: 1px solid #8FC517; opacity: 100; width: 300px; margin-left: 511px">-->
  <h1 class="mt-4 mb-4" style="color: #1451DD; font-size: 45px;">Welcome To PowerFuel</h1>
<!--  <hr style="border: 1px solid #8FC517; opacity: 100; width: 300px; margin-left: 511px">-->
</div>
<div class="container-fluid mt-5 mb-5" id="container-fluid-section-five">

  <div>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4 text-center align-items-center justify-content-center">
        <div  class="me-5 ms-5 crd-service-four">
<!--          <fa-icon [icon]="faBasketShopping" class="fa-6x text-center align-items-center justify-content-center mt-4" style="color: #1451DD"></fa-icon>-->
          <h1 class="fontss">{{CustomerCount}}</h1>
          <h5 style="color: dimgrey;" class="text-center ms-3 me-3 mt-4 mb-4">All Customers</h5>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4 text-center align-items-center justify-content-center">
        <div  class="me-5 ms-5 crd-service-four">
<!--          <fa-icon [icon]="faBuildingWheat" class="fa-6x text-center align-items-center justify-content-center mt-4" style="color: #1451DD"></fa-icon>-->
          <h1 class="fontss">{{StationCount}}</h1>
          <h5 style="color: dimgrey;" class="text-center ms-3 me-3 mt-4 mb-4">All Stations</h5>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4 text-center align-items-center justify-content-center">
        <div  class="me-5 ms-5 crd-service-four">
<!--          <fa-icon [icon]="faHandshake" class="fa-6x text-center align-items-center justify-content-center mt-4" style="color: #1451DD"></fa-icon>-->
          <h1 class="fontss">900L</h1>
          <h5 style="color: dimgrey;" class="text-center ms-3 me-3 mt-4 mb-4">Current Stock</h5>
        </div>
      </div>
      <div class="w-100 mt-5" ></div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4 text-center align-items-center justify-content-center">
        <div  class="me-5 ms-5 crd-service-four">
<!--          <fa-icon [icon]="faCheckCircle" class="fa-6x text-center align-items-center justify-content-center mt-4" style="color: #1451DD"></fa-icon>-->
          <h1 class="fontss">{{TokenCount}}</h1>
          <h5 style="color: dimgrey;" class="text-center ms-3 me-3 mt-4 mb-4">Issued Tokens</h5>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4 text-center align-items-center justify-content-center">
        <div  class="me-5 ms-5 crd-service-four">
<!--          <fa-icon [icon]="faHeadset" class="fa-6x text-center align-items-center justify-content-center mt-4" style="color: #1451DD"></fa-icon>-->
          <h1 class="fontss">65K L</h1>
          <h5 style="color: dimgrey;" class="text-center ms-3 me-3 mt-4 mb-4">Main Stock</h5>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4 text-center align-items-center justify-content-center">
        <div  class="me-5 ms-5 crd-service-four">
<!--          <fa-icon [icon]="faTractor" class="fa-6x text-center align-items-center justify-content-center mt-4" style="color: #1451DD"></fa-icon>-->
          <h1 class="fontss">10K</h1>
          <h5 style="color: dimgrey;" class="text-center ms-3 me-3 mt-4 mb-4">Registered Vehicles</h5>
        </div>
      </div>
    </div>
  </div>

</div>
